{% extends 'layout.html.twig' %}

{% block page_head_title %}popcorn.sipgate.net{%endblock %}
{% block page_head_description %}Popcorn-Abende bei sipgate{%endblock %}
{% block page_head_keywords %}sipgate,kino,film,popcorn{%endblock %}
{% block page_head_og_title %}popcorn.sipgate.net{% endblock %}
{% block page_head_og_image %}{% endblock %}
{% block page_head_og_description %}Popcorn-Abende bei sipgate{% endblock %}

{% block content %}
<div class="intro">
	<br /><br />
	<img src="/img/popcorn_logo_big.png" class="img-responsive center-block" />
	<br /><br />
	<div class="text-center">
		<a href="/signup"><h2>Anmelden</h2></a>
		<a href="/login"><h2>Login</h2></a>
	</div>
	<br /><br />
	<blockquote>
		Freunde des bewegten Bildes, explodierendem Schnee, lebender Toter und anderer optischer K̶u̶r̶i̶o̶s̶i̶t̶ä̶t̶e̶n̶ Kulinaritäten,<br />
		aus einer Bierlaune heraus haben wir beschlossen, man müsste etwas gegen unsere kinematographischen Bildungslücken tun. Und welche bessere Methode gäbe es, als mit seinen Lieblingskollegen in einem Berg von FatBoys auf der Leinwand in der Alten Post all die Filme zu gucken, die man mal gesehen haben müsste?<br />
		<br />
		Damit jeder seine Bildungslücken schließen kann, haben wir mal eben schnell diese WebApp zusammengezimmert! Hier könnt ihr, nach einer kurzen und schmerzlosen Anmeldung mit eurer sipgate-Mailadresse, abstimmen, welche Filme ihr sehen wollt. Wenn ihr den Film nicht kennt, kein Problem, der Name verlinkt zur IMDb ;)<br />
		Da fehlt ein Film? Kein Problem, ganz unten kannst Du motzen, wir kümmern uns dann drum.<br />
		<br />
		Am Vorführtag präsentieren wir euch die Liste der Top10 Filme. Bis 16:00 Uhr habt ihr noch die Gelegenheit euren Vote anzupassen, und so das Steuer in letzter Sekunde rumzureißen.
Den am höchsten gevoteten Film werden wir dann kurzfristig ranschaffen.<br />
		Beginn der Vorstellung ist jeweils um 19:00 Uhr.<br />
		<br />
		Damit möglichst jeder mal zum Kino-Abend kommen kann, haben wir uns ein hochkomplexes Rotationsprinzip ausgedacht:<br />
		Der erste Kino-Abend ist ein Montag. <br />
		Der zweite ein Dienstag.<br />
		Der dritte ein Mittwoch.<br />
		So rotieren wir die Vorführtage immer einen Wochentag weiter, bis wir bei Freitag angekommen sind. Im Anschluss rotieren wir wieder zurück, so dass nach dem Kino-Freitag der Kino-Donnerstag kommt.<br />
		Wenn wir wieder bei Montag sind, fangen wir wieder von vorne an.<br />
		Logisch, oder?<br />
		<br />
		Wer kommt, der kommt, wer nicht kommt, der verpasst was :)<br />
		Popcorn darf sich jeder selbst mitbringen, Bier wie immer aus unseren hervorragend bestückten Kühlschränken.<br />
		<br />
		PS: Es darf natürlich auch kommen, wer nicht mit abstimmt. Aber derjenige muss halt nehmen, was kommt. ;)<br />
		<br />
		Falls Fragen aufkommen: Eine Vorstellung pro Woche, d.h. erste Vorstellung am 27.07., zweite am 04.08., dritte am 12.08., etc. ;-)
		<cite title="Yammer-Post"><a href="https://www.yammer.com/sipgate.de/#/Threads/show?threadId=558259717">https://www.yammer.com/sipgate.de/#/Threads/show?threadId=558259717</a></cite>
	</blockquote>
	<br /><br /><br /><br /><br />
</div>
{% endblock %}
