{% extends 'layout.html.twig' %}

{% block page_head_title %}popcorn.sipgate.net{%endblock %}
{% block page_head_description %}Popcorn-Abende bei sipgate{%endblock %}
{% block page_head_keywords %}sipgate,kino,film,popcorn{%endblock %}
{% block page_head_og_title %}popcorn.sipgate.net{% endblock %}
{% block page_head_og_image %}{% endblock %}
{% block page_head_og_description %}Popcorn-Abende bei sipgate{% endblock %}

{% block content %}
<div class="intro">
	<img src="/img/popcorn_logo_big.png" />
</div>
{% endblock %}
