<!doctype html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block page_head_title %}{%endblock %}</title>
	<meta name="description" content="{% block page_head_description %}{%endblock %}"/>
	<meta name="keywords" content="{% block page_head_keywords %}{%endblock %}"/>
	<meta name="author" content="Tobias Niepel">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<meta property="og:title" content="{% block page_head_og_title %}{% endblock %}" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="{% block page_head_og_image %}{% endblock %}" />
	<meta property="og:description" content="{% block page_head_og_description %}{% endblock %}" />
	<meta property="og:url" content="http://popcorn.sipgate.net/" />
	<link rel="alternate" href="http://popcorn.sipgate.net/" hreflang="x-default" />
	<link rel="alternate" href="http://popcorn.sipgate.net/" hreflang="de" />

	<link rel="canonical" href="" />
</head>
<body>
	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav"><span>Menü öffnen</span></button>
					<a class="navbar-brand" href="/"><img src="/img/popcorn_logo.png" /></a>
				</div>
				<div class="collapse navbar-collapse" id="mainnav">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if loggedin %}
							{% if is_admin %}
								<li><a href="/admin">Admin</a></li>
								<li><a href="/admin/stats">Stats</a></li>
							{% endif %}
							<li><a href="/vote">Abstimmung</a></li>
							<li><a href="/logout">Logout</a></li>
						{% else %}
							<li><a href="/signup">Signup</a></li>
							<li><a href="/login">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		{% block content %}{% endblock %}
	</div>
	<footer class="text-center">
		&copy; {{ now|date("Y") }} popcorn.sipgate.net
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,900,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/style.css" />

	{% block js %}
	{% endblock %}
</body>
</html>

