{% extends 'layout.html.twig' %}

{% block page_head_title %}login | popcorn.sipgate.net{%endblock %}
{% block page_head_description %}Popcorn-Abende bei sipgate - Login{%endblock %}
{% block page_head_keywords %}sipgate,kino,film,popcorn{%endblock %}
{% block page_head_og_title %}login | popcorn.sipgate.net{% endblock %}
{% block page_head_og_image %}{% endblock %}
{% block page_head_og_description %}Popcorn-Abende bei sipgate - Login{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
			<div class="alert alert-success">Dein Passwort wurde geändert - Du kannst dich jetzt <a href="/login">einloggen</a>!</div>
		</div>
	</div>
{% endblock %}
