Hallo!<br />
<br />
Du hast ein neues Passwort für <a href="http://popcorn.sipgate.net/">popcorn.sipgate.net</a> angefordert, es lautet: <pre>{{ password }}</pre><br />
<br />
Viele Grüße,<br />
popcorn.sipgate.net
