Hallo!<br />
<br />
Um Dein Passwort für popcorn.sipgate.net zurückzusetzen, klicke bitte innerhalb von 24 Stunden auf den folgenden Link:<br />
<br />
<a href="http://popcorn.sipgate.net/resetpassword/{{ key }}">http://popcorn.sipgate.net/resetpassword/{{ key }}</a><br />
<br />
Grüße,<br />
popcorn.sipgate.net
