Hallo!<br />
<br />
Du hast dich gerade bei <a href="http://popcorn.sipgate.net/">popcorn.sipgate.net</a> angemeldet. Bitte klicke auf diesen Aktivierungslink, um deine Anmeldung zu komplettieren:<br />
<br />
<a href="http://popcorn.sipgate.net/signup/{{ key }}">http://popcorn.sipgate.net/signup/{{ key }}</a><br />
<br />
Viele Grüße,<br />
popcorn.sipgate.net
